<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="cFrost sun blog">
    <meta name="author" content="cFrost sun">
    <link rel="stylesheet" href="/assets/css/global.css">
    <title>{{ page.title }}</title>
</head>

<body>
    <p><a href="/">Go Home</a></p>
    {{ content }}
    <footer>
        <div class="container">
            <hr>
            <div class="row">
                <div style="float:left">&copy;{{ site.time | date: '%Y' }}&nbsp;cFrost</div>
                <div style="float:right">Powered by <a href="https://eulerproject.io">Euler Project</a> &amp; Published with <a href="https://pages.github.com/">GitHub Pages</a</div>
            </div>
        </div>
    </footer>
</body>

</html>
