<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="cFrost sun blog">
    <meta name="author" content="cFrost sun">
    <link rel="stylesheet" href="/assets/css/global.css">
    <title>{{ page.title }}</title>
</head>

<body>
    {{ content }}
    <footer>
        <div class="container">
            <hr>
            <div class="row">
                <div style="float:left">&copy;2017&nbsp;cFrost&nbsp;<a id="icp" href="http://www.miitbeian.gov.cn" target="_Blank">粤ICP备15054669号</a></div>
                <div style="float:right">Powered by <a href="https://eulerproject.io">Euler Project</a> &amp; Published with <a href="https://pages.github.com/">GitHub Pages</a</div>
            </div>
        </div>
    </footer>
</body>

</html>